<h1> Here is your cat</h1>

<h2>Name: <%= @cats.name%> </h2>
<h2>Sex: <%= @cats.sex%> </h2>
<h2>Birth Date: <%= @cats.birth_date%> </h2>
<h2>Color: <%= @cats.color%> </h2>
<h2>Description: <%= @cats.description%> </h2>
<h2>ID: <%=@cats.id%></h2>

